<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176930505197-ocoeurcnivph11mgt9vc2soiqmohob9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176930505197-ocoeurcnivph11mgt9vc2soiqmohob9o</string>
	<key>API_KEY</key>
	<string>AIzaSyCTYYXtyGto0PsCP3Zdk8kSOnZz8VItLTU</string>
	<key>GCM_SENDER_ID</key>
	<string>176930505197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sondh0127.ios-task-app</string>
	<key>PROJECT_ID</key>
	<string>ios-tasks-app-d9ff8</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-tasks-app-d9ff8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176930505197:ios:24a62eb9a212027e12e7e4</string>
</dict>
</plist>